body {
background-color: #fff;
color: #333333;
line-height: 1.4;
font-size: 13px;
text-align: center;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

/* リンク */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

/* ページ */
#page {
  width: 100%;
  margin: 0 auto;
  border-top: 4px solid #0055a9;
}

/* ヘッダー */
#pageHead  {
  text-align: left;
  height: 115px;
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
}

#pageHead:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead #siteTitle {
  float: left;
}

#pageHead #siteTitle a img {
  border: 1px solid #FF0000;
  padding-top: 7.5em;
}

#pageHead #pageHeadLight {
  float: right;
  border: 1px solid #FF0000;
}

#siteTitle img{
  display: block;
}

/*グローバルナビ*/

#pageHead .globalNavi {
    height: 51px;
    width: auto;
    text-align: left;
}

#pageHead .glovalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  float: left;
  padding: 16px 15px 15px 15px;
}

#pageHead .globalNavi ul li a {
  font-weight: bold;
  font-size: 116%;
}

#pageHead .globalNavi ul li a:hover {
  color: #0055a9;
  text-decoration: none;
}

/*--- 上部固定グローバルナビ  ---*/
#page #globalNaviScroll {
   /* ▼上端に固定するCSS */
   position: fixed;
   top: 0px;
   left: 0px;
  /*------------------*/
    width: 100%;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
}

#page #globalNaviScroll .scrollDetail {
  width: 980px;
  margin: 0 auto;
}

#page #globalNaviScroll .scrollDetail:after {
  content: "";
  clear: both;
  display: block;
}

#page #globalNaviScroll img {
  display: block;
  float: left;
  padding-top: 4px;
}

#page #globalNaviScroll ul:after {
  content: "";
  clear: both;
  display: block;
}

#page #globalNaviScroll ul li {
  float: left;
  padding: 16px 15px 15px 15px;
}

#page #globalNaviScroll ul li a {
  font-weight: bold;
  font-size: 116%;
}

#page #globalNaviScroll ul li a:hover {
  color: #0055a9;
  text-decoration: none;
}

/*パンくずリスト*/
.topicPathDetail {
  text-align: left;
  background-color: #eee;
  margin: 0;
  margin-bottom: 26px;
  padding: 13px 0;
  font-size: 11px;
  clear: both;
}

.topicPathDetail .topicPath  {
  width: 980px;
  padding: 0;
  margin: 0 auto;
}

.topicPath img {
  vertical-align: bottom;
  padding-left: 30px;
}

.topicPath a {
  padding-right: 10px;
  padding-left: 8px;
  line-height: 1.2;
}


/* ページボディー */
#pageBody {
  text-align: left;

}

#pageBody .pageBodyDetail {
  width: 980px;
  margin: 0 auto;
}

#pageBodyMain .pageBodyHead {
  width: 700px;
  padding-top: 1em;
  padding-bottom: 2em;
}

#pageBodyMain .pageBodyHead h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#pageBodyMain .pageBodyHead p {
  margin: 0;
  font-size: 18px;
}

#pageBody .pageBodyDetail:after {
  content: "";
  clear: both;
  display: block;
}

/*メインカラム*/
#pageBodyMain {

}

#pageBodyMain .pageBodyTable {
  border-top: 3px solid #0055a9;
  padding-top: 30px;
  float: left;
  width: 700px;
}

#pageBodyMain .pageBodyTable table {
  border-collapse: collapse;
  width: 100%;
}

#pageBodyMain .pageBodyTable table tr {
  border-bottom: 1px solid #e1e1e1;
}

#pageBodyMain .pageBodyTable table tr th {
  width: 120px;
}

#pageBodyMain .pageBodyTable table tr td a {
  display: block;
  margin-top: 10px;
}

#pageBodyMain .pageBodyTable table tr th,
#pageBodyMain .pageBodyTable table tr td {
  padding: 20px 10px;
}

/*サブカラム上*/
#pageBodySub {
  width: 250px;
  float: right;
}

#pageBodySub .localNavi {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 1.2em;
}

#pageBodySub .localNavi ul {
  padding: 0;
  margin: 0;
}

#pageBodySub .localNavi ul li {
  padding: 8px 5px 8px 35px;
}

#pageBodySub .localNavi ul li.listTextTop {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 25px;
  border-bottom: dotted 1px gray;
}

#pageBodySub .localNavi ul li.listTextMiddle {
  padding: 8px 5px 8px 25px;
  font-size: 16px;
  font-weight: bold;
}

#pageBodySub .localNavi ul li:nth-child(3),
#pageBodySub .localNavi ul li:nth-child(4) {
  background-color: rgb(221, 243, 254);
}

/*サブカラム下*/
#pageBodySub .sectionList {
  background-color: #fff;
  border: 1px solid #eeeeee;
  margin-bottom: 1.2em;
}

#pageBodySub .sectionList .imgCenter {
  text-align: center;
}

#pageBodySub .sectionList .sectionListTitle {
  font-size: 16px;
  font-weight: bold;
}

#pageBodySub .sectionList a {
  display: block;
  text-decoration: none;
  padding: 20px;
}


/*フッターメニュー*/
.menuDetail {
  background-color: #eaeaea;
}

#menu {
  text-align: left;
  margin: 0 auto;
  width: 980px;
  list-style: none;
  padding: 40px;
}

#menu ul,
#manu ul li {
  padding: 0;
  margin: 0 auto;
}

#menu .menuTitle {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0;
}

#menu .menuBlock {
  margin-right: 50px;
  padding-bottom: 40px;
}

#menu .menuTop .menuBlock {
  height: 391px;
}

#menu .menuBottom .menuBlock {
  height: 315px;
}

#menu .menuBlock.last {
  margin: 0;
  padding-bottom: 40px;
}


#menu .menuBlock span {
  padding-bottom: 5px;
  font-size: 13px;
  color: #777777;
}

#menu .menuText li {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0.2em;
}

 #menu .menuTop .menuBlock .menuText.m-btm20 {
   margin-bottom: 20px;
 }

#menu .menuTop .menuBlock.topLeft {
  width: 280px;
}

#menu .menuTop .menuBlock.topLeft .menuLeft {
  margin-right: 20px;
  width: 44%;
}

#menu .menuTop .menuBlock.topLeft .menuRight {
  width: 44%;
}

#menu .menuTop:after,
#menu .menuBottom:after,
#menu .menuTop .menuBlock:after {
  content: "";
  clear: both;
  display: block;
}

#menu .menuTop .menuBlock,
#menu .menuBottom .menuBlock,
#menu .menuTop .menuLeft {
  float: left;
}

#menu .menuTop .menuRight {
  float: right;
}
/*sns*/
#sns {
  text-align: left;
}

#sns img {
  vertical-align: bottom;
  padding-right: 6px;
}

#sns:after {
  content: "";
  clear: both;
  display: block;
}

#sns ul li {
  float: left;
  margin-right: 30px;
}

/*フッター*/
#pageFoot {
  text-align: left;
  color: #606060;
  width: 980px;
  margin: 0 auto;
}

#pageFoot ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageFoot ul {
  padding: 13px 0;
  margin: 0;
}

#pageFoot ul li {
  float: left;
  margin-bottom: 0.5em;
}

#pageFoot ul li a {
  padding: 0 0.5em;
}

#pageFoot #copyright {
  margin: 0;
  padding: 0.5em 0 2em 0;
}

#pageFoot small {
  font-size: 13px;
}
