body {
color: #333333;
line-height: 1.4;
font-size: 13px;
text-align: left;
}

ul {
  list-style: none;
}

ul li {
  list-style: none;
}

/* リンク */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: underline;
}

/* ページ */
#page {
  width: 100%;
  margin: 0 auto;
}

/* ヘッダー */
#pageHead  {
  height: 115px;
  width: 100%;
  background-color: #fff;
  border-top: 4px solid #0055a9;
}

#pageHead:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead #siteTitle {
  float: left;
}

#pageHead #siteTitle a img {
  border: 1px solid #FF0000;
  padding-top: 7.5em;
}

#pageHead #pageHeadLight {
  float: right;
  border: 1px solid #FF0000;
}

/*グローバルナビ*/

#pageHead .globalNavi {
    height: 51px;
    width: auto;
}

#pageHead .globalNavi ul li {
  float: left;
  padding: 16px 15px 15px 15px;
}

#pageHead .globalNavi ul li a {
  font-weight: bold;
  font-size: 116%;
}

#pageHead .globalNavi ul li a:hover {
  color: #0055a9;
  text-decoration: none;
}


/*パンくずリスト*/
.topicPath {
  font-size: 11px;
  background-color: #eee;
  margin-left: 0 auto;
  margin-bottom: 26px;
  padding: 13px 0;
}

.topicPath img {
  vertical-align: bottom;
  padding-left: 30px;
}

.topicPath a {
  padding-right: 10px;
  padding-left: 8px;
}


/* ページボディー */
#pageBody .pageBodyDetail {
  width: 980px;
  margin: 0 2%;
}

#pageBodyMain .pageBodyHead {
  width: 700px;
  padding-top: 1em;
  padding-bottom: 2em;
}

#pageBodyMain .pageBodyHead h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#pageBodyMain .pageBodyHead p {
  margin: 0;
  font-size: 18px;
}

#pageBody .pageBodyDetail:after {
  content: "";
  clear: both;
  display: block;
}

/*メインカラム*/
#pageBodyMain {

}

#pageBodyMain .pageBodyTable {
  border-top: 3px solid #0055a9;
  padding-top: 30px;
  float: left;
  width: 700px;
}

#pageBodyMain .pageBodyTable table {
  border-collapse: collapse;
  width: 100%;
}

#pageBodyMain .pageBodyTable table tr {
  border-bottom: 1px solid #eeeeee;
}

#pageBodyMain .pageBodyTable table tr th {
  width: 120px;
}

#pageBodyMain .pageBodyTable table tr td a {
  display: block;
  margin-top: 10px;
}

#pageBodyMain .pageBodyTable table tr th,
#pageBodyMain .pageBodyTable table tr td {
  padding: 20px 10px;
}

/*サブカラム上*/
#pageBodySub {
  width: 250px;
  float: right;
}

#pageBodySub .localNavi {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 1.2em;
}

#pageBodySub .localNavi ul {
  padding: 0;
  margin: 0;
}

#pageBodySub .localNavi ul li {
  padding: 8px 5px 8px 35px;
}

#pageBodySub .localNavi ul li.listTextTop {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 25px;
  border-bottom: dotted 1px gray;
}

#pageBodySub .localNavi ul li.listTextMiddle {
  padding: 8px 5px 8px 25px;
  font-size: 16px;
  font-weight: bold;
}

#pageBodySub .localNavi ul li:nth-child(3),
#pageBodySub .localNavi ul li:nth-child(4) {
  background-color: rgb(221, 243, 254);
}

/*サブカラム下*/
#pageBodySub .sectionList {
  background-color: #fff;
  border: 1px solid #eeeeee;
  margin-bottom: 1.2em;
}

#pageBodySub .sectionList .imgCenter {
  text-align: center;
}

#pageBodySub .sectionList .sectionListTitle {
  font-size: 16px;
  font-weight: bold;
}

#pageBodySub .sectionList a {
  display: block;
  text-decoration: none;
  padding: 20px;
}
